{% extends 'base.html' %}

{% block title %}
Depósitos
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="fw-bold">
        🏢 Depósitos
    </h1>
    <a href="{% url 'cadastrar_deposito' %}" class="btn btn-primary">
        + Novo Depósito
    </a>
</div>

<div class="card border-0 shadow-sm mb-4">
    <div class="card-body">
        <form method="GET">
            <div class="row g-3">
                <div class="col-md-9">
                    <input type="text" name="nome" class="form-control" placeholder="Buscar depósito">
                </div>

                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary w-100">
                        Filtrar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card border-0 shadow-sm">
    <div class="card-body">
        <table class="table table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th>Nome</th>
                    <th>Localização</th>
                    <th>Responsável</th>
                    <th width="180">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for deposito in depositos %}

                <tr>
                    <td>{{ deposito.nome }}</td>
                    <td>{{ deposito.localizacao }}</td>
                    <td>{{ deposito.responsavel }}</td>
                    <td>
                        <button class="btn btn-warning btn-sm">
                            Editar
                        </button>
                        <button class="btn btn-danger btn-sm">
                            Excluir
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center text-muted">
                        Nenhum depósito cadastrado.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}