{% extends 'base.html' %}

{% block title %}
Produtos
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="fw-bold">
        Produtos
    </h1>
    <a href="{% url 'cadastrar_produto' %}" class="btn btn-primary">
        + Novo Produto
    </a>
</div>

<div class="card border-0 shadow-sm mb-4">
    <div class="card-body">
        <form method="GET">
            <div class="row g-3">
                <div class="col-md-5">
                    <input type="text" name="nome" class="form-control" 
                    placeholder="Buscar produto">
                </div>

                <div class="col-md-4">
                    <select name="categoria" class="form-select">
                        <option value="">
                            Todas as categorias
                        </option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">
                                {{ categoria.nome }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary w-100">
                        Filtrar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card border-0 shadow-sm">
    <div class="card-body">
        <table class="table table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th width="180">Ações</th>
                </tr>
            </thead>

            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>
                        <a href="{% url 'editar_produto' produto.id %}" class="btn btn-warning btn-sm">
                            Editar
                        </a>

                        <form method="POST" action="{% url 'excluir_produto' produto.id %}" class="d-inline"
                        onsubmit="return confirm('Tem certeza que deseja excluir este produto?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">
                                Excluir
                            </button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center text-muted">
                        Nenhum produto cadastrado.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}